html {
    position: relative;
    min-height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    color: #00ffff;
}

body, wrapper {
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    color: #00ffff;
}

footer { 
    bottom: 0;
    height: 75px;
    background-color: #060606;
    border-style: solid;
    border-width: 5px 0 0 0;
    border-color: #ff00ff;
}

a.nav-link, #name {
    color: #00ffff;
}

.container, .navbar, .navbar-brand {
    padding: 0;
}

.navbar.bg-dark {
    border-width: 0 0 1px 0;
    border-color: #ff00ff;
}

.main-content {
    width: 95%;
    margin: 15px 0;
    padding: 15px 0;
    box-sizing: border-box;
    color: #00ffff;
}

.footer-container {
    height: 100%;
    padding: 25px 0;
}

.answer-container {
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #00ffff;
    margin: 0 15px 30px;
    padding: 0;
    max-width: 65px;
}

.large-letter {
    font-size: 5vw;
}

#btn-container {
    display: none;
}

.btn-letter {
    width: 100%;
    margin-bottom: 15px;
    background-color: #ff00ff;
    color: black;
    border: none;
}

.btn-disabled {
    background-color: #777777;
    color: #00ffff;
}

img {
    max-width: 65px;
}

#name {
    padding: 15px 0;
    margin: 0;
    box-sizing: border-box;
}

#background-video-container {
    overflow: hidden;
    position: relative;
    /* 83vh needed to be added to provide a relative good stretch on the video */
    min-height: 83vh;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
    z-index: -1;
}

#page-title {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #ff00ff;
    padding-bottom: 20px;
}

#keyboard-instructions {
    display: inline;
}

#button-instructions {
    display: none;
}

#guessNumber {
    display: inline;
}

#answer {
    /* visibility: hidden; */
}

#congrats-message {
    display: none;
}